.profile_page {
    padding: 50px 0;
    min-height: 100vh;


    .profile-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .profile-title {
        text-align: center;
        color: var(--primary-color);
        margin-bottom: 20px;
    }

    .profile-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--primary-color);
    }

    .change-image-label {
        margin-top: 10px;
        color: var(--primary-color);
        cursor: pointer;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: var(--primary-color);
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        outline: none;
        color: #166d50;
    }

    .update-button {
        padding: 10px;
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        transition: .1s ease-in-out;

        &:disabled {
            cursor: not-allowed;
            opacity: .8;
        }
    }

    .update-button:hover {
        background-color: #2ba37b;
    }


    hr {
        margin: 30px 0;
        background-color: #4a5bb378;
        height: 1px;
        border: none;
    }

    .change_password_container {
        h3 {
            color: var(--primary-color);
            margin-bottom: 25px;
            font-size: 28px;
        }
    }
}